@import "bootstrap";

.card-columns {
  @include media-breakpoint-only(xl) {
    column-count: 4;
    column-gap: 5rem;
  }

  @include media-breakpoint-only(lg) {
    column-count: 3;
    column-gap: 5rem;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
    column-gap: 5rem;
  }

  @include media-breakpoint-only(sm) {
    column-count: 1;
    column-gap: 5rem;
  }
}
